Screen {
    layers: base filters;
}

Filters {
    background: $panel;
    layer: filters;
    width: 50%;
    border: round $primary;
    height: 80%;
    offset-y: 10%;
    transition: offset 250ms in_out_cubic;
}

Filters.hidden {
    offset: -100% 10%;
}

Filters:focus-within {
    offset: 0 10% !important;
}

Filters Label {
    text-style: bold;
}

Filters Label.h1 {
    text-align: center;
    border: hkey $primary;
}

Filters Label.h2 {
    margin-top: 1;
    margin-left: 1;
}

TypeChoices {
    height: 6;
    layout: grid;
    grid-size: 5;
    grid-gutter: 0;
}

TypeChoices Button {
    width: 100%;
}

#activities {
    width: 100%;
    height: 1fr;
}

Activity {
    height: auto;
    padding: 1;
    border: wide $primary;
    background: $panel;
}

Activity:focus-within {
    background: $panel-lighten-1;
    border: wide $primary-lighten-1;
}

Activity > Static {
    height: auto;
}

Activity .buttons {
    margin-top: 1;
    height: 3;
    align: right bottom;
}

Activity .timestamp {
    text-style: italic;
    text-align: right;
}

/* unbored.css ends here */
